// Breakpoints

$sm-size: 600px;
$md-size: 960px;
$lg-size: 1200px;
$xl-size: 1920px;

$default-font-size: 16px;
$title-font-size: 24px;

//Colors
$neutral-gray: #dbdbdb;
$background-gray: #f3f3f3;
$text-gray: #8f8f8f;
$orange-main: #fc4a1a;
